#layer-0 {
  /* border: solid 1px black; */
  width: 100vw;
  min-height: 90vh;
}

#root-container {
  background-color: rgba(243, 254, 254, 0.983);
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  box-sizing: content-box;
  border-radius: 0.7em;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.1em 0.1em 0.3em rgb(190, 185, 185),
    -0.1em -0.1em 0.3em rgb(190, 185, 185);
}

body {
  display: grid;
  place-content: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#basic-input {
  margin-bottom: 21px;
  padding: 3px;
  display: grid;
  grid-template-columns: 4.5fr 1fr 1fr;
  gap: 10px;
}

#to-do {
  height: 50px;
  font-size: 0.8rem;
  border: inset;
  border-radius: 5px;
  background-color: rgba(226, 225, 225, 0.345);
  grid-column: 1;
  width: 100%;
  padding: 0px 0px 0px 10px;
  /* grid-row: 1; */
}

#btn-icon {
  grid-column: 3;
  margin: 12px 0px 0px 10px;
}

#date-input {
  border: none;
  /* border-radius: 5px; */
  background-color: transparent;
  margin: 6px 0px 0px 20px;
  width: 40px;
  height: 40px;
  /* font-size: 70px; */
  grid-column: 2;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  border: none;
}

.show {
  display: inline-flex;
  grid-row: 2;
  box-sizing: content-box;
  font-size: 1.1rem;
  font-family: "oswald";
  border: none;
  background-color: transparent;
}
.showDate {
  font-size: small;
  color: rgba(222, 170, 150, 0.983);
  grid-row: 1;
  grid-column: 1/-1;
}

#edit,
#delete,
#check-box {
  grid-row: 2;
  align-self: center;
  margin-left: 4px;
}

#list {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  grid-template-columns: 0.9fr 10fr 1fr 1fr;
}

@media screen and (min-width: 768px) {
  #root-container,
  #layer-0 {
    width: 70vw;
    box-sizing: border-box;
  }

  .icon {
    height: 400px;
    width: 400px;
    margin-left: 20px;
  }

  #layer-0 {
    margin-left: 30px;
  }
}
.border {
  border: 1px solid black;
  /* height: 200px;
    width: auto; */
}
.full {
  display: block;
}
.hide {
  display: none;
}
/* p{
    font-size: 4vw;
} */
.icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  font-family: "oswald";
}

/**/
[type="date"] {
  /* background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat; */
  background: #fff url(./calender_icon.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-datetime-edit-text {
  opacity: 0;
}

[type="date"]::-webkit-datetime-edit-fields-wrapper {
  opacity: 0;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/**/
